<div class="table table-bordered">
    <form name="f" [formGroup]="moyenneform">
        <table class="table ">
            <thead>
                <tr>
                    <th scope="col" colspan="5"></th>
                    <th scope="col">Moyenne</th>
                    <th scope="col">Crédit</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                <!--web development mobile-->
                <tr>
                    <td scope="row" rowspan="3">web development mobile</td>
                    <td scope="row">Développement Mobile</td>
                    <td>
                        EX <input type="text" formControlName="exdevmobile" class="form-control form-control-sm" name="exdevmobile" id="exdevmobile">
                        <small *ngIf="moyenneform.controls['exdevmobile'].dirty && moyenneform.controls['exdevmobile'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['exdevmobile'].dirty && moyenneform.controls['exdevmobile'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        TP <input type="text" formControlName="tpdevmobile" class="form-control form-control-sm" name="tpdevmobile" id="tpdevmobile">
                        <small *ngIf="moyenneform.controls['tpdevmobile'].dirty && moyenneform.controls['tpdevmobile'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['tpdevmobile'].dirty && moyenneform.controls['tpdevmobile'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        Oral <input type="text" formControlName="oraldevmobile" class="form-control form-control-sm" name="tpdevmobile" id="oraldevmobile">
                        <small *ngIf="moyenneform.controls['oraldevmobile'].dirty && moyenneform.controls['oraldevmobile'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['oraldevmobile'].dirty && moyenneform.controls['oraldevmobile'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td><br><input type="text" class="form-control form-control-sm" name="moydevmobile" id="moydevmobile" formControlName="moydevmobile" readonly></td>
                    <td><br><input type="text" class="form-control form-control-sm" name="creditdevmobile" id="creditdevmobile"  formControlName="creditdevmobile" readonly></td>
                </tr>
                <tr>
                    <td scope="row">Intégration web</td>
                    <td>
                        EX <input type="text" formControlName="exweb" class="form-control form-control-sm" name="exweb" id="exweb">
                        <small *ngIf="moyenneform.controls['exweb'].dirty && moyenneform.controls['exweb'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['exweb'].dirty && moyenneform.controls['exweb'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        TP <input type="text" formControlName="tpweb" class="form-control form-control-sm" name="tpweb" id="tpweb">
                        <small *ngIf="moyenneform.controls['tpweb'].dirty && moyenneform.controls['tpweb'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['tpweb'].dirty && moyenneform.controls['tpweb'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        Oral <input type="text" formControlName="oralweb" class="form-control form-control-sm" name="oralweb" id="oralweb">
                        <small *ngIf="moyenneform.controls['oralweb'].dirty && moyenneform.controls['oralweb'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['oralweb'].dirty && moyenneform.controls['oralweb'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td><br><input type="text" class="form-control form-control-sm" name="moyweb" id="moyweb" formControlName="moyweb" readonly></td>
                    <td><br><input type="text" class="form-control form-control-sm" name="creditweb" id="creditweb"  formControlName="creditweb" readonly></td>
                </tr>
                <tr>
                    <td colspan="4"> </td>
                    <td><input type="text" formControlName="moydev" class="form-control form-control-sm" name="moydev" id="moydev" readonly></td>
                    <td><input type="text" formControlName="creditdev" class="form-control form-control-sm" name="creditdev" id="creditdev" readonly></td>
                </tr>
                <!-- Informatique décisionnelle-->
                <tr>
                    <td scope="row" rowspan="4">Informatique décisionnelle</td>
                </tr>
                <tr>
                    <td>Intelligence Artificielle</td>
                    <td>
                        EX <input type="text" formControlName="exAI" class="form-control form-control-sm" id="exAI">
                        <small *ngIf="moyenneform.controls['exAI'].dirty && moyenneform.controls['exAI'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['exAI'].dirty && moyenneform.controls['exAI'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        TP <input type="text" formControlName="tpAI" class="form-control form-control-sm" id="tpAI">
                        <small *ngIf="moyenneform.controls['tpAI'].dirty && moyenneform.controls['tpAI'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['tpAI'].dirty && moyenneform.controls['tpAI'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        ORAl <input type="text" formControlName="oralAI" class="form-control form-control-sm" id="oralAI">
                        <small *ngIf="moyenneform.controls['oralAI'].dirty && moyenneform.controls['oralAI'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['oralAI'].dirty && moyenneform.controls['oralAI'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td><br><input type="text" formControlName="moyAI" class="form-control form-control-sm" id="moyAI" readonly></td>
                    <td><br><input type="text" formControlName="creditAI" class="form-control form-control-sm" id="creditAI" readonly></td>
                </tr>
                <tr>
                    <td>Analyse de données et data mining</td>
                    <td>
                        EX <input type="text" formControlName="exdatamining" class="form-control form-control-sm" name="exdatamining" id="exdatamining">
                        <small *ngIf="moyenneform.controls['exdatamining'].dirty && moyenneform.controls['exdatamining'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['exdatamining'].dirty && moyenneform.controls['exdatamining'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        TP <input type="text" formControlName="tpdatamining" class="form-control form-control-sm" name="tpdatamining" id="tpdatamining">
                        <small *ngIf="moyenneform.controls['tpdatamining'].dirty && moyenneform.controls['tpdatamining'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['tpdatamining'].dirty && moyenneform.controls['tpdatamining'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        ORAL <input type="text" formControlName="oraldatamining" class="form-control form-control-sm" name="oraldatamining" id="oraldatamining">
                        <small *ngIf="moyenneform.controls['oraldatamining'].dirty && moyenneform.controls['oraldatamining'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['oraldatamining'].dirty && moyenneform.controls['oraldatamining'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td><br><input type="text" class="form-control form-control-sm" formControlName="moydatamining" name="moydatamining" id="moydatamining" readonly></td>
                    <td><br><input type="text" class="form-control form-control-sm" formControlName="creditdatamining"  name="creditdatamining" id="creditdatamining" readonly></td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td><input type="text" formControlName="moyinfodecisionnelle" class="form-control form-control-sm" name="moyinfodecisionnelle" id="moyinfodecisionnelle" readonly></td>
                    <td><input type="text" formControlName="creditinfodecisionnelle" class="form-control form-control-sm" name="creditinfodecisionnelle" id="creditinfodecisionnelle" readonly></td>
                </tr>
                <!--it security et gestion de projet -->
                <tr>
                    <td scope="row" rowspan="3">it security et gestion de projet</td>
                    <td scope="row">Gestion de projet</td>
                    <td>
                        EX <input type="text" formControlName="exgestionprojet" class="form-control form-control-sm" name="exgestionprojet" id="exgestionprojet">
                        <small *ngIf="moyenneform.controls['exgestionprojet'].dirty && moyenneform.controls['exgestionprojet'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['exgestionprojet'].dirty && moyenneform.controls['exgestionprojet'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        TP <input type="text" formControlName="tpgestionprojet" class="form-control form-control-sm" name="tpgestionprojet" id="tpgestionprojet">
                        <small *ngIf="moyenneform.controls['tpgestionprojet'].dirty && moyenneform.controls['tpgestionprojet'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['tpgestionprojet'].dirty && moyenneform.controls['tpgestionprojet'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        Oral <input type="text" formControlName="oralgestionprojet" class="form-control form-control-sm" name="tpdevmobile" id="oralgestionprojet">
                        <small *ngIf="moyenneform.controls['oralgestionprojet'].dirty && moyenneform.controls['oralgestionprojet'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['oralgestionprojet'].dirty && moyenneform.controls['oralgestionprojet'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td><br><input type="text" class="form-control form-control-sm" name="moygestionprojet" id="moygestionprojet" formControlName="moygestionprojet" readonly></td>
                    <td><br><input type="text" class="form-control form-control-sm" name="creditgestionprojet" id="creditgestionprojet"  formControlName="creditgestionprojet" readonly></td>
                </tr>
                <tr>
                    <td>IT security fondamentals</td>
                    <td>
                        EX <input type="text" formControlName="exsecurity" class="form-control form-control-sm" name="exsecurity" id="exsecurity">
                        <small *ngIf="moyenneform.controls['exsecurity'].dirty && moyenneform.controls['exsecurity'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['exsecurity'].dirty && moyenneform.controls['exsecurity'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        TP <input type="text" formControlName="tpsecurituy" class="form-control form-control-sm" name="ds2jee" id="tpsecurituy">
                        <small *ngIf="moyenneform.controls['tpsecurituy'].dirty && moyenneform.controls['tpsecurituy'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['tpsecurituy'].dirty && moyenneform.controls['tpsecurituy'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        ORAL <input type="text" formControlName="oralsecurity" class="form-control form-control-sm" name="oralsecurity" id="oralsecurity">
                        <small *ngIf="moyenneform.controls['oralsecurity'].dirty && moyenneform.controls['oralsecurity'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['oralsecurity'].dirty && moyenneform.controls['oralsecurity'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td><br><input type="text" class="form-control form-control-sm" formControlName="moysecurity" name="moysecurity" id="moysecurity" readonly></td>
                    <td><br><input type="text" class="form-control form-control-sm" formControlName="creditsecurity" name="creditsecurity" id="creditsecurity" readonly></td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td><input type="text" formControlName="moyitsecuritygestionprojet" class="form-control form-control-sm" name="moyitsecuritygestionprojet" id="moyitsecuritygestionprojet" readonly></td>
                    <td><input type="text" formControlName="credititsecuritygestionprojet" class="form-control form-control-sm" name="credititsecuritygestionprojet" id="credititsecuritygestionprojet" readonly></td>
                </tr>
                <!--Big data et cloud-->
                <tr>
                    <td scope="row" rowspan="3">Big data et cloud</td>
                    <td>Langages de programmation évolués -BI</td>
                    <td>
                        DS1 <input type="text" formControlName="ds1python" class="form-control form-control-sm" name="ds1python" id="ds1python">
                        <small *ngIf="moyenneform.controls['ds1python'].dirty && moyenneform.controls['ds1python'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['ds1python'].dirty && moyenneform.controls['ds1python'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        DS2 <input type="text" formControlName="ds2pyhton" class="form-control form-control-sm" id="ds2pyhton">
                        <small *ngIf="moyenneform.controls['ds2pyhton'].dirty && moyenneform.controls['ds2pyhton'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['ds2pyhton'].dirty && moyenneform.controls['ds2pyhton'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        TP <input type="text" formControlName="tppython" class="form-control form-control-sm" id="tppython">
                        <small *ngIf="moyenneform.controls['tppython'].dirty && moyenneform.controls['tppython'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['tppython'].dirty && moyenneform.controls['tppython'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td><br><input type="text" formControlName="moypython" class="form-control form-control-sm" id="moypython" readonly></td>
                    <td><br><input type="text" formControlName="creditpython" class="form-control form-control-sm" id="creditpython" readonly></td>
                </tr>
                <tr>
                    <td>Introduction au big data</td>
                    <td>
                        EX <input type="text" formControlName="exbigdata" class="form-control form-control-sm" id="exbigdata">
                        <small *ngIf="moyenneform.controls['exbigdata'].dirty && moyenneform.controls['exbigdata'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['exbigdata'].dirty && moyenneform.controls['exbigdata'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        TP <input type="text" formControlName="tpbigdata" class="form-control form-control-sm" id="tpbigdata">
                        <small *ngIf="moyenneform.controls['tpbigdata'].dirty && moyenneform.controls['tpbigdata'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['tpbigdata'].dirty && moyenneform.controls['tpbigdata'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        ORAL <input type="text" formControlName="oralbigdata" class="form-control form-control-sm" id="oralbigdata">
                        <small *ngIf="moyenneform.controls['oralbigdata'].dirty && moyenneform.controls['oralbigdata'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['oralbigdata'].dirty && moyenneform.controls['oralbigdata'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td><br><input type="text" formControlName="moybigdata" class="form-control form-control-sm" id="moybigdata" readonly></td>
                    <td><br><input type="text" formControlName="creditbigdata" class="form-control form-control-sm" id="creditbigdata" readonly></td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td><input type="text" formControlName="moybigdatacloud" class="form-control form-control-sm" name="moybigdatacloud" id="moybigdatacloud" readonly></td>
                    <td><input type="text" formControlName="creditbigdatacloud" class="form-control form-control-sm" name="creditbigdatacloud" id="creditbigdatacloud" readonly></td>
                </tr>
                <!--Soft-skills et Culture 5-->
                <tr>
                    <td scope="row" rowspan="3">Soft-skills et<br> Culture 5</td>
                    <td>Business communication</td>
                    <td>
                        DS1 <input type="text" formControlName="ds1bc" class="form-control form-control-sm" id="ds1bc">
                        <small *ngIf="moyenneform.controls['ds1bc'].dirty && moyenneform.controls['ds1bc'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['ds1bc'].dirty && moyenneform.controls['ds1bc'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        DS2 <input type="text" formControlName="ds2bc" class="form-control form-control-sm" id="ds2bc">
                        <small *ngIf="moyenneform.controls['ds2bc'].dirty && moyenneform.controls['ds2bc'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['ds2bc'].dirty && moyenneform.controls['ds2bc'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        TP <input type="text" formControlName="tpbc" class="form-control form-control-sm" id="tpbc">
                        <small *ngIf="moyenneform.controls['tpbc'].dirty && moyenneform.controls['tpbc'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['tpbc'].dirty && moyenneform.controls['tpbc'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td><br><input type="text" formControlName="moybc" class="form-control form-control-sm" id="moybc" readonly></td>
                    <td><br><input type="text" formControlName="creditbc" class="form-control form-control-sm" id="creditbc" readonly></td>
                </tr>
                <tr>
                    <td>Laws and ethics of it</td>
                    <td>
                        DS1 <input type="text" formControlName="ds1loi" class="form-control form-control-sm" id="ds1loi">
                        <small *ngIf="moyenneform.controls['ds1loi'].dirty && moyenneform.controls['ds1loi'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['ds1loi'].dirty && moyenneform.controls['ds1loi'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        DS2 <input type="text" formControlName="ds2loi" class="form-control form-control-sm" id="ds2loi">
                        <small *ngIf="moyenneform.controls['ds2loi'].dirty && moyenneform.controls['ds2loi'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['ds2loi'].dirty && moyenneform.controls['ds2loi'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        TP <input type="text" formControlName="tploi" class="form-control form-control-sm" id="tploi">
                        <small *ngIf="moyenneform.controls['tploi'].dirty && moyenneform.controls['tploi'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['tploi'].dirty && moyenneform.controls['tploi'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td><br><input type="text" formControlName="moyloi" class="form-control form-control-sm" id="moyloi" readonly></td>
                    <td><br><input type="text" formControlName="creditloi" class="form-control form-control-sm" id="creditloi" readonly></td>
                </tr>
                <tr>
                    <td colspan="4"></td>
                    <td><input type="text" formControlName="moysoftskills5" class="form-control form-control-sm" name="moysoftskills5" id="moysoftskills5" readonly></td>
                    <td><input type="text" formControlName="creditsoftskills5" class="form-control form-control-sm" name="creditsoftskills5" id="creditsoftskills5" readonly></td>
                </tr>              
                <!--UEOP_S5(21-22)-->
                <tr>
                    <td scope="row" rowspan="3">UEOP_S5(21-22)</td>
                    <td>Architecture orientée services	</td>
                    <td>
                        DS1 <input type="text" formControlName="ds1aos" class="form-control form-control-sm" id="ds1aos">
                        <small *ngIf="moyenneform.controls['ds1aos'].dirty && moyenneform.controls['ds1aos'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['ds1aos'].dirty && moyenneform.controls['ds1aos'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        DS2 <input type="text" formControlName="ds2aos" class="form-control form-control-sm" id="ds2aos">
                        <small *ngIf="moyenneform.controls['ds2aos'].dirty && moyenneform.controls['ds2aos'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['ds2aos'].dirty && moyenneform.controls['ds2aos'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        TP <input type="text" formControlName="tpaos" class="form-control form-control-sm" id="tpaos">
                        <small *ngIf="moyenneform.controls['tpaos'].dirty && moyenneform.controls['tpaos'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['tpaos'].dirty && moyenneform.controls['tpaos'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td><br><input type="text" formControlName="moyaos" class="form-control form-control-sm" id="moyaos" readonly></td>
                    <td><br><input type="text" formControlName="creditaos" class="form-control form-control-sm" id="creditaos" readonly></td>
                </tr>
                <tr>
                    <td>Paiement electronique</td>
                    <td>
                        DS1 <input type="text" formControlName="ds1pe" class="form-control form-control-sm" id="ds1pe">
                        <small *ngIf="moyenneform.controls['ds1pe'].dirty && moyenneform.controls['ds1pe'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['ds1pe'].dirty && moyenneform.controls['ds1pe'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        DS2 <input type="text" formControlName="ds2pe" class="form-control form-control-sm" id="ds2pe">
                        <small *ngIf="moyenneform.controls['ds2pe'].dirty && moyenneform.controls['ds2pe'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['ds2pe'].dirty && moyenneform.controls['ds2pe'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td>
                        TP <input type="text" formControlName="tppe" class="form-control form-control-sm" id="tppe">
                        <small *ngIf="moyenneform.controls['tppe'].dirty && moyenneform.controls['tppe'].hasError('required')" class="text-danger">*note obligatoire</small>
                        <small *ngIf="moyenneform.controls['tppe'].dirty && moyenneform.controls['tppe'].hasError('range')" class="text-danger">*note doit être un nombre entre 0 et 20</small>
                    </td>
                    <td><br><input type="text" formControlName="moype" class="form-control form-control-sm" id="moype"  readonly></td>
                    <td><br><input type="text" formControlName="creditpe" class="form-control form-control-sm" id="creditpe"  readonly></td>
                </tr>       
                <tr>
                    <td colspan="4"></td>
                    <td><input type="text" formControlName="moyUEOP5" class="form-control form-control-sm" name="moyUEOP5" id="moyUEOP5" readonly></td>
                    <td><input type="text" formControlName="creditUEOP5" class="form-control form-control-sm" name="creditUEOP5" id="creditUEOP5" readonly></td>
                </tr>         
                <tr>
                    <td colspan="5">Moyenne de semestre et credit</td>
                    <td><input type="text" formControlName="moy"  class="form-control form-control-sm" name="moy" id="moy" readonly></td>
                    <td><input type="text" formControlName="credit" class="form-control form-control-sm" name="credit" id="credit" readonly></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>
<app-footer></app-footer>