.btn-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 1rem; 
  padding-right: 50%;
  padding-left:50%;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%; 
  margin: 0 auto;
}

.btn-group .btn {
  background-color: #e38b0d;
  border-radius: 0.25rem;
  font-size: 0.9rem;
  color: white;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
  border: none;
  text-decoration: none;
  white-space: nowrap;
  flex-shrink: 0; 
  min-width: 100px; 
  max-width: 150px;
}

.btn-group .btn:hover {
  background-color: #065363;
  transform: scale(1.05);
}

.btn-group .btn.selected {
  background-color: #065363;
  transform: scale(1);
}

@media (min-width: 1024px) {
  .btn-group {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem; 
  }

  .btn {
    font-size: 1rem; 
    width: auto;
  }
}

@media (max-width: 767px) {
  .btn-group {
    padding-right: 80%;
    padding-left:90%;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1rem; 
    justify-content: center; 
  }

  .btn {
    font-size: 0.85rem;
    min-width: 100px;
    max-width: 100%; 
  }
}
